extends layout

block content
    .jumbotron
        h1 Blockchain Demo
        p Note: This is not built on blockchain. Just a simulation to give you a feel of the system and how it works.
        br
        .small Hacked together by
        a(href="http://anirudha.org") Kumar Anirudha
    .container
        h2 Important Links and Notes
        table.table
            tr
                td Project Forked from
                td
                    a(href="https://github.com/anders94/blockchain-demo") anders project
            tr
                td Like to read?
                td
                    a(href="http://blog.blockchainedindia.com/en/2017/05/11/intro-to-blockchain") An Introduction to Blockchain
            tr
                td Contributions welcome to this project
                td
                    a(href="https://github.com/anistark/blockchain-demo") github
