extends layout

block content
  .container-fluid
    h1 Land Record System
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 Peer #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 188404, txs: [{value: '12', from: 'Rajiv', to: 'Sachin', cost: '2345'},{value: '23', from: 'Akshay', to: 'Varun', cost: '1411'},{value: '19', from: 'Ruchi', to: 'Priya', cost: '744'},{value: '24', from: 'Rohit', to: 'Viren', cost: '63'},{value: '21', from: 'Aditya', to: 'Isha', cost: '963223'}], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 160676, txs: [{value: '23', from: 'Varun', to: 'Anirudha', cost: '352352'},{value: '48', from: 'Karthika', to: 'Rizwan', cost: '63212'},{value: '6', from: 'Tina', to: 'Advaith', cost: '6332'},{value: '10', from: 'Meenakshi', to: 'Garima', cost: '43345'},{value: '8', from: 'Bindu', to: 'Talia', cost: '2342345'},{value: '5', from: 'Clark', to: 'Barry', cost: '251345'}], previous: '00001e8d6427739876cca5c38e954e7c25c74f46ff333b4aa4ddfe4cb3f629b7'})
        - blocks.push({block: 3, chain: chain, nonce: 13680, txs: [{value: '10', from: 'Aditya', to: 'Purnia', cost: '2345'},{value: '34', from: 'Mark', to: 'Adam', cost: '752'},{value: '23', from: 'Anirudha', to: 'Joey', cost: '6294'}], previous: '00006e76ea404445f5317b70adf6d86497c2080842c0316224f5c34879452219'})
        each block in blocks
          .col-xs-10
            include includes/landrecordblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val() +
                $('#block' + block + 'chain' + chain + 'tx' + x + 'cost').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
